---
- name: Normalize binary entry
  ansible.builtin.set_fact:
    binary_name: "{{ (binary_item if binary_item is string else (binary_item.keys() | list | first)) }}"
    binary_filename: "{{ (binary_item[binary_item.keys() | list | first].filename if binary_item is mapping else omit) }}"

- name: Set download filename
  ansible.builtin.set_fact:
    tarball_base: "{{ binary_filename | default(binary_name) }}"

- name: Check versioned binary in home bin
  ansible.builtin.stat:
    path: "{{ home_bin }}/{{ binary_name }}-{{ resolved_version }}"
  register: binary_stat_semver
  when: binaryNaming == 'semver'

- name: Check simple binary in home bin
  ansible.builtin.stat:
    path: "{{ home_bin }}/{{ binary_name }}"
  register: binary_stat_simple
  when: binaryNaming == 'simple'

- name: Read simple binary version
  ansible.builtin.command: >-
    {{ home_bin }}/{{ binary_name }} version
  register: simple_version_cmd
  changed_when: false
  failed_when: false
  when: binaryNaming == 'simple' and binary_stat_simple.stat.exists

- name: Build match version for simple binaries
  ansible.builtin.set_fact:
    match_version: >-
      {{ (resolved_version if (requested_version is match('^(latest-|stable-|release-)')) else requested_version) }}
  when: binaryNaming == 'simple' and binary_stat_simple.stat.exists

- name: Decide simple binary version match
  ansible.builtin.set_fact:
    simple_version: >-
      {{ (simple_version_cmd.stdout_lines | default([])
          | select('search', match_version | regex_escape)
          | list | length > 0) | ternary(match_version, '') }}
  when: binaryNaming == 'simple' and binary_stat_simple.stat.exists

- name: Decide whether to download
  ansible.builtin.set_fact:
    should_download: >-
      {{ (binaryNaming == 'semver' and not binary_stat_semver.stat.exists)
         or (binaryNaming == 'simple' and (not binary_stat_simple.stat.exists or simple_version != resolved_version)) }}

- name: Download tarball
  ansible.builtin.get_url:
    url: "https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/{{ requested_version }}/{{ tarball_base }}-linux.tar.gz"
    dest: "/tmp/{{ tarball_base }}-{{ requested_version }}.tar.gz"
    mode: "0644"
  when: should_download

- name: Create temporary extract directory
  ansible.builtin.file:
    path: "/tmp/{{ tarball_base }}-{{ requested_version }}"
    state: directory
    mode: "0755"
  when: should_download

- name: Extract binary only
  ansible.builtin.unarchive:
    src: "/tmp/{{ tarball_base }}-{{ requested_version }}.tar.gz"
    dest: "/tmp/{{ tarball_base }}-{{ requested_version }}"
    remote_src: true
    extra_opts:
      - "--wildcards"
      - "{{ binary_name }}"
  when: should_download

- name: Move binary into home bin
  ansible.builtin.command: >-
    mv -f /tmp/{{ tarball_base }}-{{ requested_version }}/{{ binary_name }}
    {{ home_bin }}/{{ binary_name }}{{ '-' + resolved_version if binaryNaming == 'semver' else '' }}
  when: should_download

- name: Remove temporary tarball
  ansible.builtin.file:
    path: "/tmp/{{ tarball_base }}-{{ requested_version }}.tar.gz"
    state: absent
  when: should_download

- name: Remove temporary extract directory
  ansible.builtin.file:
    path: "/tmp/{{ tarball_base }}-{{ requested_version }}"
    state: absent
  when: should_download
