---
- name: Create VMs for ABI deployment
  hosts: localhost
  gather_facts: false
  vars:
    control_plane_networks: "{{ vms.controlPlaneConfig.networks | default(vms.defaultConfig.networks) }}"
    compute_networks: "{{ (vms.computeConfig.networks if vms.computeConfig is defined and vms.computeConfig.networks is defined else vms.defaultConfig.networks) if computeReplicas > 0 else [] }}"

  roles:
  - role: vm-management
    vars:
      vm_action: create
