---
- name: Create VMs for ABI deployment
  hosts: localhost
  gather_facts: false
  vars:
    control_plane_networks: "{{ vms.controlPlaneData.networks }}"
    compute_networks: "{{ vms.computeData.networks if computeReplicas > 0 and vms.computeData is defined else [] }}"

  roles:
  - role: vm-management
    vars:
      vm_action: create
