---
- name: Destroy ABI cluster
  hosts: localhost
  gather_facts: false

  tasks:
  - name: Store clusterDir in a fact
    ansible.builtin.set_fact: 
      clusterDir: "{{ clusterBaseDir | default('../clusters') }}/{{ name }}.{{ baseDomain }}"

  roles:
  - role: vm-management
    vars:
      vm_action: destroy

  tasks:
  - name: Remove cluster directory
    ansible.builtin.shell: "rm -vfr {{ clusterDir }}"



