---
- name: Destroy ABI cluster
  hosts: localhost
  gather_facts: false

  roles:
  - role: vm-management
    vars:
      vm_action: destroy

  tasks:
  - name: Remove cluster directory
    ansible.builtin.shell: "rm -vfr {{ clusterDir }}"



