---
- name: Monitor installation process
  hosts: localhost
  gather_facts: false

  pre_tasks:
  - name: Ensure OpenShift binaries are available
    ansible.builtin.include_role:
      name: openshift-binary
    when: version is defined

  tasks:
  - name: Store clusterDir in a fact
    ansible.builtin.set_fact: clusterDir="{{ clusterBaseDir|default('../clusters') }}/{{ name }}.{{ baseDomain }}"

  - name: Waiting for bootstrap to complete
    ansible.builtin.shell: "openshift-install --dir {{ clusterDir }} agent wait-for bootstrap-complete"
    environment:
      OCP4_VERSION: "{{ resolved_version | default(version | default('')) | string }}"

  - name: Waiting for installation to complete
    ansible.builtin.shell: "openshift-install --dir {{ clusterDir }} agent wait-for install-complete"
    environment:
      OCP4_VERSION: "{{ resolved_version | default(version | default('')) | string }}"
